{% extends "base.html" %}

{% block title %}
    Manage Customers
{% endblock %}

{% block navigation %}

    <nav>

        <a href="{{ url_for('admin_dashboard') }}">
            Dashboard
        </a>

        <a href="{{ url_for('manage_books') }}">
            Ebooks
        </a>

        <a href="{{ url_for('manage_categories') }}">
            Categories
        </a>

        <a href="{{ url_for('admin_orders') }}">
            Orders
        </a>

        <a href="{{ url_for('admin_customers') }}">
            Customers
        </a>

        <a href="{{ url_for('admin_payments') }}">
            Payments
        </a>

        <a href="{{ url_for('logout') }}">
            Logout
        </a>

    </nav>

{% endblock %}

{% block content %}

    <h2>Manage Customers</h2>

    {% if customers %}

        {% for customer in customers %}

            <h3>{{ customer[1] }}</h3>

            <p>
                <strong>Email:</strong>
                {{ customer[2] }}
            </p>

            <p>
                <strong>Account Created:</strong>
                {{ customer[4] }}
            </p>

            <a href="{{ url_for('admin_customer_details', customer_id=customer[0]) }}">
                View Customer
            </a>

            <hr>

        {% endfor %}

    {% else %}

        <p>No customers found.</p>

    {% endif %}

    <a href="{{ url_for('admin_dashboard') }}">
        Back to Dashboard
    </a>

{% endblock %}

