{% extends "base.html" %}

{% block title %}
    Edit Customer
{% endblock %}

{% block navigation %}

    <nav>

        <a href="{{ url_for('admin_dashboard') }}">
            Dashboard
        </a>

        <a href="{{ url_for('manage_books') }}">
            Ebooks
        </a>

        <a href="{{ url_for('manage_categories') }}">
            Categories
        </a>

        <a href="{{ url_for('admin_orders') }}">
            Orders
        </a>

        <a href="{{ url_for('admin_customers') }}">
            Customers
        </a>

        <a href="{{ url_for('admin_payments') }}">
            Payments
        </a>

        <a href="{{ url_for('logout') }}">
            Logout
        </a>

    </nav>

{% endblock %}

{% block content %}

    <h2>Edit Customer</h2>

    <form method="POST">

        <label>Name:</label>

        <input
            type="text"
            name="name"
            value="{{ customer[1] }}"
            required
        >

        <br>

        <label>Email:</label>

        <input
            type="email"
            name="email"
            value="{{ customer[2] }}"
            required
        >

        <br>

        <button type="submit">
            Save Changes
        </button>

    </form>

    <br>

    <a href="{{ url_for('admin_customer_details', customer_id=customer[0]) }}">
        Cancel
    </a>

{% endblock %}
