{% extends "base.html" %}

{% block title %}
    Book Details
{% endblock %}

{% block navigation %}

    <nav>

        <a href="{{ url_for('home') }}">
            Home
        </a>

        <a href="{{ url_for('cart') }}">
            Cart
        </a>

        <a href="{{ url_for('customer_orders') }}">
            My Orders
        </a>

        <a href="{{ url_for('customer_library') }}">
            My Library
        </a>

        <a href="{{ url_for('logout') }}">
            Logout
        </a>

    </nav>

{% endblock %}

{% block content %}

    <section class="book-details">

        <div class="book-info">

            <p class="book-category">
                {{ book[5] }}
            </p>

            <h2>{{ book[1] }}</h2>

            <p class="book-author">
                By {{ book[2] }}
            </p>

            <div class="book-description">

                <h3>Description</h3>

                <p>
                    {{ book[3] }}
                </p>

            </div>

            <p class="book-price">
                ₦{{ book[4] }}
            </p>

            <a
                href="{{ url_for('add_to_cart', book_id=book[0]) }}"
                class="button"
            >
                Add to Cart
            </a>

            <br>

            <a
                href="{{ url_for('home') }}"
                class="back-link"
            >
                Back to Ebooks
            </a>

        </div>

    </section>

{% endblock %}
